/* Global Reset */
* {
    margin: 0;
    padding: 0;
    border: solid black 2px;
}

div.mainframe {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "left right right"
    "left right right"
    "left right right";
}

div.leftframe {
    display: inherit;
    grid-area: left;
    background-image: url("imgs/portalimg.jpg");
    background-size: cover;
    background-repeat: center;
    background-position: left;
}

div.rightframe {
    display: inherit;
    grid-area: right;
}