/* Global Reset */
* {
    margin: 0;
    padding: 0;
    /* border: solid black 2px; */
}
:root {
    --mainframecolor: #c0bebf;
    --secondaryframecolor: #e8e9eb;
    --fontcolor: #;
}


div.mainframe {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "left right right"
    "left right right"
    "left right right";
}

div.leftframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: left;
    background-image: url("imgs/overland.jpg");
    background-size: cover;
    background-repeat: center;
    background-position: center;
}
.leftframe img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

div.rightframe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-area: right;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;

}
.logoframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.4;
}
.title {
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    border-bottom: solid white 8px;
    /* opacity: 1.0; */
}
input, label {
    display: block;
    /* For placing titles on top */
}
input {
    height: 30px;
    width: 300px;
}
label {
    text-transform: uppercase;
}
.righttop, .rightbottom {
    background-color: var(--secondaryframecolor);
}
.rightmid {
    box-shadow:  0px 5px 8px #888888;
    z-index: 10;
    height: 440px;
    display: grid;
    background-color: var(--mainframecolor);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "top top"
    "bottom bottom";
}
.rightmid form {
    width: 650px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    display: inherit;
    grid-area: bottom;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "topl topr"
    "midl midr"
    "botl botr";
}
.rightmid h1 {
    margin-top: 20px;
    margin-left: 30px;
    display: inherit;
    grid-area: top;
}
.fname {
    grid-area: topl;
}
.lname {
    grid-area: topr;
}
.email {
    grid-area: midl;
}
.phone {
    grid-area: midr;
}
.password {
    grid-area: botl;
}
.confpass {
    grid-area: botr;
}
.rightbottom p , .rightbottom button{
    margin-left: 30px;
}
.rightbottom button {
    margin-top: 20px;
    height: 40px;
    width: 200px;
    box-shadow: 2px 2px 2px 1px;
    border-radius: 5px;
    border: solid 0px;
    background-color: #1F7A8C;
}
.righttop {
    display: flex;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: x-large;
}
.righttop p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
}

@media all and (max-width: 1100px) {
    .mainframe {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    .leftframe {
        grid-row: 1;
    }
}